aiofiles
aiohttp
apscheduler
beautifulsoup4
dnspython
gitpython
hachoir
httpx
humanize
requests
python-dotenv
pyyaml
unidecode
tgcrypto
pyrofork
ffmpeg-python
py-tgcalls
ntgcalls
motor
psutil
heroku3
Pillow
speedtest-cli
yt-dlp
youtube-search-python
youtube-search
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
py-yt-search
spotipy
prettytable
openai
pykeyboard
numpy
PyGithub
